.cardContainer {
  display: grid;
  gap: 24px;
}

@media(min-width: 768px) {
  .cardContainer {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1110px) {
  .cardContainer {
    gap: 30px;
  }
}