@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  background: hsl(226, 43%, 10%);
  padding: 82px 25px;
}

.work {
  background: url(./images/icon-work.svg), hsl(15, 100%, 70%);
}
.play {
  background: url(./images/icon-play.svg), hsl(195, 74%, 62%);
}
.study {
  background: url(./images/icon-study.svg), hsl(348, 100%, 68%);
}
.exercise {
  background: url(./images/icon-exercise.svg), hsl(145, 58%, 55%);
}
.social {
  background: url(./images/icon-social.svg), hsl(264, 64%, 52%);
}
.selfCare {
  background: url(./images/icon-self-care.svg), hsl(43, 84%, 65%);
}

@media (min-width: 768px) {
  body {
    display: grid;
    min-height: 100vh;
    place-content: center;
  }
}

@media (min-width: 1110px) {
  body {
    padding: 0 25px;
  }
}